
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #F1F3F4; /*fff*/
   
}
html, body, 
.ComponentBody  {
    min-width: 1128px;
    height: 100% /*handles DOCTYPE expectation*/
}

.login-form {
    
    position: relative;
  
    /*background: #FFFFFF;*/
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
   /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
    transform: translateY(-50%);
    vertical-align: central;
    top: 50%;
}

    .login-form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 15px 0 0 0 ;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .login-form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        margin: 15px 0 25px;
        box-sizing: border-box;
        cursor: pointer;
    }

        .login-form button:hover, .form button:active, .form button:focus {
            background: #43A047;
        }

.hiddenform {
    visibility : hidden;

}

a:hover {
    color: white;
}
.loginContainer {
    display: block;
    margin: 0 auto;
    /*vertical-align: central;*/
    background-color: #FFFFFF;
    width: 350px;
    height: 490px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
a {
    color: #4CAF50;
}
a:link {
    
    float:left;
position: relative;
    font-size: 10px;
    text-decoration: none;
    width: 85px;
    height:15px;
 

}
a:hover {
    color: #43A047;
}